@font-face {
    font-family: 'MyCustomFont';
    src: url('zanos.ttf') format('truetype');
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

.round-image {
    width: 300px;
    height: 300px;
}
